body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #0c2317;
    padding: 0 10px;
    text-align: justify;
    background-color: #fdf9ef;
}

#footers {
    font-size: 12px;
}

.selected-node {
    opacity: 0.5 !important;
    stroke: black;
    stroke-width: 1px;
}

.selected-link {
    stroke: black;
}

.label {
    opacity: 0;
    text-anchor: middle;
    font-size: 15px;
}

.selected-label {
    opacity: 1 !important;
    text-anchor: middle;
    font-size: 15px;
}

.legend-text {
    opacity: 1 !important;
    text-anchor: end;
    font-size: 10px;
}